<!DOCTYPE HTML>

  <style>
        
  legend{
      border: solid 1px #075c48;
      padding: 5px;
      font-weight: bold;
      border-radius: 20px;
      background: lightgreen;}

    </style>

<form action= "{{ url_for('cv') }}" method="post">

  {% if error %}
  <div style="color: red;">{{ error }}</div>
  {% endif %}

  <fieldset>

    <legend>Información básica</legend>
    <ul>

    <p><label>Nombres: <input type="text" name="name"></label>
      <label>Apellidos: <input type="text" name="last_name"></label></p>
    <p><label>Fecha de nacimiento: <input type="date" name="born"></label></p>

    <p><label>Ocupacion: <input type="text" name="occupation"></label></p>

    <label for="nacionality">Elige nacionalidad:</label>
    <select id="nacionality" name="nationality">
      <option value="Chile">Chile</option>
      <option value="Argentina">Argentina</option>
      <option value="Colombia">Colombia</option>
      <option value="Ecuador">Ecuador</option>
      <option value="Venezuela">Venezuela</option>
      <option value="España">España</option>
      <option value="Bolivia">Bolivia</option>
      <option value="Uruguay">Uruguay</option>
      <option value="Paraguay">Paraguay</option>
      <option value="Peru">Peru</option>
    </select>

    </ul>
  </fieldset>
  <br/>

  <fieldset>

    <legend>Información extra </legend>
 
    <ul>

    <p>Perfil:<p>

    <textarea id="perfil" name="perfil" rows="perfil" cols="perfil">
    
    </textarea>

    <p>Nivel de ingles:</p>
      <br/>

      <label><input type="radio" name="english_level" value="basico">basico</label>

      <label><input type="radio" name="english_level" value="intermedio">intermedio</label>

      <label><input type="radio" name="english_level" value="avanzado">avanzado</label>

      <label><input type="radio" name="english_level" value="fluido">fluido</label>

      <br/><br/>

      <p>Elige tus lenguajes de programacion:</p>

      <select name="programing_languagues" id="programing_languagues" multiple>
        <option value="Python">Java</option>
        <option value="C++">php</option>
        <option value="C#">C#</option>
        <option value="JavaScript">JavaScript</option>
        <option value="php">C++</option>
        <option value="Java">Python</option>
      </select>
      <br/><br/>

      <p><label>Elige tus aptitudes: <input type="text" name="aptitudes" list="list_of_aptitudes"></label></p>

<datalist id="list_of_aptitudes">

    <select name="aptitudes">

      <option>Inteligencia emocional</option>

      <option>Espiritu critico</option>

      <option>Trabajo en equipo</option>

      <option>Capacidad analitica</option>

      <option>Habilidades fisicas</option>

    </select>

  </label>

</datalist>

    <p>Elige tus habilidades:</p>

   <label><input type="checkbox" name="habilities" value="Acondicionamiento fisico" checked>Acondicionamiento fisico</label><br />
   <label><input type="checkbox" name="habilities" value="Creacion de videos">Creacion de videos</label><br />
   <label><input type="checkbox" name="habilities" value="Pack office">Pack office</label><br />
   <label><input type="checkbox" name="habilities" value="Tenis">Tenis</label><br />

  </ul>
  </fieldset>


  </br>
  <fieldset>

    <legend>Contacto</legend>
    <ul>

    <p><label>Número telefónico: <input type="text" name="phone"></label></p>

    <p><label>Correo electronico: <input type="email" name="email"></label></p>

    </ul>
  </fieldset>
  <br/>

    <input type="submit" value="Enviar datos">
    <input type="reset" value="Restaurar formulario">


</form>